asgiref==3.7.2
distlib==0.3.7
Django==4.2.4
fernet==1.0.1
filelock==3.12.2
mysql-connector-python==8.1.0
Pillow==10.0.0
platformdirs==3.10.0
protobuf==4.21.12
pyaes==1.6.1
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.3
