{% extends 'hms/main.html' %}
{% load static %}
{% block title %} Registration {% endblock title %}


{% block body %}
    <!-- Search Model Start -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Search Patient</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="search" class='form-control my-3' name="search" id="search" placeholder='Enter Patient ID,  Name, Mobile No'>
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
          </div>
        </div>
    </div>
      
      <!-- Search Model End -->
    

    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Patient Appointment</h1>                     
                        <form method='POST'>
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-white border-0" placeholder="Registration No." style="height: 55px;" name='user'>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" name='department'>
                                        <option selected>Select Department</option>
                                        {% for d in departments %}
                                        <option value="{{d.id}}">{{d.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" name='doctor'>
                                        <option selected>Select Doctor</option>
                                        {% for d in doctors %}
                                        <option value="{{d.id}}">{{d.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        {{appointment_form.datetime}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Make An Registration</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 m-5 m-lg-0">
                    <div class="m-4 text-center">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 ">Appointment List</h5>
                    </div>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"  >Search</button>
                    <table class='table  my-3 shadow rounded-3'>
                        <tr>
                            <th>S. No.</th>
                            <th>Registration No</th>
                            <th>Name</th>
                            <th>Doctor</th>
                            <th>Phone</th>
                            <th>Appointment Date Time</th>
                            <th>Action</th>
                        </tr>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{appointment.patient.user}}</td>
                            <td>{{appointment.patient.name}}</td>
                            <td>{{appointment.doctor}}</td>
                            <td>{{appointment.patient.phone}}</td>
                            <td>{{appointment.datetime|date:"d/m/Y  h:m A"}}</td>
                            {% comment %} <td>{{patient.date_time | date:"d/m/Y"}}, {{patient.date_time | date:"h:m A"}}</td> {% endcomment %}
                            <td>
                                <a href="" class='px-1'>Edit</a>
                                <a href="" class='px-1'>Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
{% endblock body %}
