{% extends 'hms/main.html' %}
{% load static %}
{% block title %} Dashboard Patient {% endblock title %}
{% block style %}
.card{
    background-color:white; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
{% endblock style %}   


{% block body %}
<div class="container mt-5">
    <div class="row bg-light p-3 rounded-3">
        <div class="col-md-4 ">
            <div class="card ">
                <img src="{% static 'hms/img/patient-avatar.png' %}" class="card-img-top" alt="Patient Avatar">
                <div class="card-body">
                    <table>
                        <tr >
                            <td>Patient ID :</td>
                            <th class='h5'> {{patient.user}}</th>
                        </tr>
                        <tr >
                            <td>Patient Name :</td>
                            <th> {{patient.name}}</th>
                            <tr >
                        </tr>
                            <th>Age :</th>
                            <td> {{patient.age|default:"0"}}</td>
                        </tr>
                        </tr>
                            <th>Gender :</th>
                            <td> {{patient.gender}}</td>
                        </tr>
                        </tr>
                            <th>Email :</th>
                            <td> {{patient.email|default:""}}</td>
                        </tr>
                        </tr>
                            <th>Phone :</th>
                            <td> {{patient.phone}}</td>
                        </tr>
                        <tr>
                            <td><a href="#">Edit</a></td>
                            <td>
                                <a href="{% url 'logout' %}">Logout</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Patient Profile</h2>
            <h4>Medical History</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
            
            <h4>Appointments</h4>
            <table class='table table-bordered text-center'>
                <tr>
                    <th>Department</th>
                    <th>Doctor</th>
                    <th>Date Time</th>
                </tr>
                {% for appointment in patient.appointment_set.all %}
                <tr>
                    <td>{{appointment.department}}</td>
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.datetime}}</td>
                </tr>
                {% endfor %}
            </table>
            <h4>Prescriptions</h4>
            <ul>
                <li>Medication 1 - Dosage: 10mg, Frequency: Twice a day</li>
                <li>Medication 2 - Dosage: 20mg, Frequency: Once a day</li>
                <!-- Add more prescriptions here -->
            </ul>
        </div>
    </div>
</div>
{% endblock body %}
