{% extends 'hms/main.html' %}
{% load static %}
{% block title %} Registration {% endblock title %}

{% block body %}
    <!-- Search Model Start -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Search Patient</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="search" class='form-control my-3' name="search" id="search" placeholder='Enter Patient ID,  Name, Mobile No'>
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
          </div>
        </div>
    </div>
      
      <!-- Search Model End -->
    

    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Patient Update {{user}}</h1>
                        <form method='POST'>
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col col-lg-4 col-md-6 col-sm-12">{{form.name}}</div>
                                <div class="col col-lg-4 col-md-6 col-sm-12">{{form.gender}}</div>
                                <div class="col col-lg-4 col-md-6 col-sm-12">{{form.dob}}</div>
                                <div class="col col-lg-4 col-md-6 col-sm-12">{{form.email}}</div>
                                <div class="col col-lg-4 col-md-6 col-sm-12">{{form.phone}}</div>
                                <div class="col col-lg-4 col-md-6 col-sm-12">{{form.address}}</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12 ">{{form.photo}}</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">{{form.note}}</div>
                                {% comment %} <div class="col col-lg-4 col-md-6">{{appointment_form.datetime}}</div> {% endcomment %}
                            </div>
                            <div class="row g-3 py-3">
                                <div class="col">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Make An Registration</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
{% endblock body %}

