{% extends 'hms/main.html' %}
{% load static %}
{% block title %} Registration {% endblock title %}


{% block body %}

    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Make An Appointment For Your Family</h1>
                    </div>
                    <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Find Doctor</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Patient Appointment</h1>
                                               
                        <form method='POST'>
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" name='department'>
                                        <option selected>Select Department</option>
                                        {% for d in depart %}
                                        <option value="{{d.id}}">{{d.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" name='doctor'>
                                        <option selected>Select Doctor</option>
                                        {% for d in doc %}
                                        <option value="{{d.id}}">{{d.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% comment %} <input type="text" class="form-control bg-white border-0" placeholder="Enter Name" style="height: 55px;" name='name'> {% endcomment %}
                                    {{form.name}}
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" name='gender'>
                                        <option selected>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        {{form.date_time}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {{form.phone}}
                                </div>
                                
                                                                
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Make An Registration</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
{% endblock body %}


{% block script %}
    {% if msg %}
        alert("{{ msg }}");
    {% endif %}
{% endblock script %}